<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <mat-icon>format_align_left</mat-icon>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="idea">
          <mat-icon>add_shopping_cart</mat-icon>
          New Idea</a>
        <a mat-list-item href="#">
          <mat-icon aria-hidden="false" aria-label="Example home icon"> home </mat-icon>
           Dashboard</a>
        <a mat-list-item routerLink="view">
          <mat-icon>settings</mat-icon>
          Project Listing </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">Idea To Growth</mat-icon>
        </button>
        <span>Idea To Growth</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
